
<div> 
    <sitePreview-header [title]="sitePreview.header.title" [pages]="sitePreview.pages"></sitePreview-header>




      <div id="sect1" >
        <div class="img-wrapper">
            <img src="assets/images/ui/jumbotron/pexels-photo-248159.jpeg" />
            <div class="overlay">
            <h2>Heading</h2>
            <a class="waves-effect waves-light btn btn-outline-red btn-round">button</a>
            </div>
     </div>
      </div>

      <div id="sect2" >
        <p>str </p>
        <p>str </p>
        <p>str </p>

        <p>str </p>
        <p>str </p>
          <p>str </p>
        <p>str </p>
        <p>str </p>

        <p>str </p>
        <p>str </p>
          <p>str </p>
        <p>str </p>
        <p>str </p>

        <p>str </p>
        <p>str </p>
          <p>str </p>
        <p>str </p>
        <p>str </p>

        <p>str </p>
        <p>str </p>

      </div>

      <div id="sect3" >
        <p>Init </p>
        <p>Init </p>
        <p>Init </p>

        <p>Init </p>
        <p>Init </p>
        <p>Init </p>
        <p>Init </p>
        <p>Init </p>

        <p>Init </p>
        <p>Init </p>

     </div>
